@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500');
body {
    background: #f5f6f7;
    font-family: "Montserrat", "Sans Serif";
    font-weight: 500;
}
h2, h1 {
    font-size: 1.8rem;
}
#container {
    width: 700px;
    height: 300px;
    position: absolute;
    inset: 0;  /*valor de top, rigth, bottom, left* de usan con absoculte para centrar horizontal y verticalmente*/
    margin: auto;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 5px 15px  rgba(0,0,0,.2);
    border: 2px solid rgba(0,0,0,.1);
}
#calculadora {
    background-color: #fff;
    width: 50%;
    height: 100%;
    float: left;
}
#detalles {
    background-color: #FC426D;
    width: 50%;
    height: 100%;
    float: left;
    color: #fff;
}

.contenido {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
.contenido input {
    margin: 0 auto;
    display: block;
    width: 60%;
    padding: 8px 15px;
    border: none;
    background: #f5f6f7;
    border-radius: 10px;
}
.contenido button {
    margin-top: 15px;
    font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	border-radius: 30px;
	background-color: #FF416C;
	border: 1px solid #FF416C;
	color: #FFFFFF;
	text-transform: uppercase;
    box-shadow: 3px 3px 10px rgba(0,0,0,.1);
	letter-spacing: 1px;
	transition: transform 20ms ease-in;

}
button:active {
    transform: scale(.8);
    transition: transform .20ms ease-in-out;
}